body {
    background-image: linear-gradient( to bottom right, lightblue, darkblue, blue);
    height: 100vh;
    /* to center content */
    display: flex;
    align-items: center;
    justify-content: center;
}
body div{
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to right, blue, lightblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
